@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>
@if (loaded)
{
    <AppStateProvider @ref=appState>
        <h1>Count: @appState.Counter</h1>
    </AppStateProvider>
}
@code {
    public bool loaded = false;
    public AppStateProvider appState { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loaded = true;
            await InvokeAsync(StateHasChanged);
        }
    }
}